<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Demo App</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body style="background-color: rgb(207, 182, 235)">
    <center>
        <h1 style="font-family: 'Times New Roman', Times, serif">
            MongoDB + Flask + Azure App Services Demo
        </h1>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif">
            This tutorial will show you how to create a functional Flask 
            <br>
            application that connects to a MongoDB Atlas database, and 
            <br>
            implements CRUD (Create, Read, Update, and Delete) functionality: 
        </p>
        <div style="display: flex; justify-content: center;">
            <ul class="inside" style="list-style: inside;">
                <li>Create a database in MongoDB Atlas</li>
                <li>Set up and understand how to use Flask</li>
                <li>Use your database as your apps backend</li>
                <li>Create a CRUD app using Flask, Python, and Postman</li>
                <li>Host your complete Flask app on Azure</li>
            </ul>
        </div>
    </center>
    
    
</body>
</html>